.conf_aceptar {
    -fx-background-color: linear-gradient(#f0ff35, #a9ff00);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.conf_cancelar {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
}

.start{
    -fx-background-color: white;
    -fx-border-color: blue;
    -fx-border-radius: 2;
}

.tittle{
	-fx-text-fill: #339999;
	-fx-font-size: 20;
}

.setting{
	-fx-background-image: url(/images/ajustes.png) ;
	-fx-border-color: blue;
    -fx-border-radius: 2;
}

.advise{
	-fx-text-fill: #990000;
	-fx-font-size: 18;
}

.error
{
	-fx-text-fill: red ;
	-fx-font-size: 20;
}
