body{
	background-color: #fdfdfd; /* e6f4ff */
	font-family: sans-serif;
}

h1{
	color: #002277;
	text-align:center;
	font-family: sans-serif;
}

h2{
	color: #002277;
	text-align: center;
	font-family: sans-serif;
}

h3{
	color: #002277;
	text-align: center;
	font-family: sans-serif;
}

h4{
	color: #002277;
	text-align: center;
	font-family: sans-serif;
}

h5{
	color: #002277;
	text-align: center;
	font-family: sans-serif;
}

h6{
	color: #002277;
	text-align: center;
	font-family: sans-serif;
}

p{
	line-height: 1.5;
}

table{
	border: 1px solid black;
}

pre {
    border: 1px solid black;
    background-color: #f1f1f1;
    padding: 5px;
}